---
backend:
  name: git-gateway
  repo: Ruin2itive/ruin2itive-site # Your repository
  branch: main                     # Your default branch

media_folder: static/uploads       # Upload folder for images
public_folder: /uploads            # Public URL for media files

collections:
  - name: "blog"
    label: "Blog"
    folder: "content/blog"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
