name: Update feeds

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */2 * * *"
    - cron: "0 12 * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build home.json
        run: npm run build:home

      - name: Commit updated data
        run: |
          git config user.name "ruin2itive-bot"
          git config user.email "actions@users.noreply.github.com"
          git add data/home.json
          git commit -m "update feeds" || exit 0
          git push
